@import url(https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);





body {
  font-family: EB Garamond;
}
.display-1 {
  font-family: 'EB Garamond', serif;
  font-size: 4.2rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.72rem;
}
.display-2 {
  font-family: 'EB Garamond', serif;
  font-size: 3.2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5.12rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 500;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'EB Garamond', serif;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 500;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.36rem;
    font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #3d626c !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #3d626c !important;
  border-color: #3d626c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #21363b !important;
  border-color: #21363b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #21363b !important;
  border-color: #21363b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #18272b;
  color: #18272b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #3d626c;
  border-color: #3d626c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #3d626c !important;
  border-color: #3d626c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #3d626c !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #18272b !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #3d626c;
  border-color: #3d626c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #3d626c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #77a5b2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #3d626c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #3d626c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #3d626c;
  border-bottom-color: #3d626c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #3d626c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.btn-white-outline {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-white-outline:before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  transition: all 0.6s ease-in-out;
  top: 0;
  left: -100%;
  z-index: -1;
}
.btn-white-outline:hover {
  background: transparent !important;
  color: #3d626c !important;
}
.btn-white-outline:hover:before {
  left: 0px;
}
.btn-primary-outline {
  margin: 0.3rem !important;
  padding: 0.2rem 0;
  border: none;
  position: relative;
  z-index: 1;
  color: #3d626c !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:active {
  background: transparent;
  color: #3d626c;
}
.btn-primary-outline:before {
  content: "";
  width: 100%;
  height: 2px;
  background: #3d626c;
  position: absolute;
  transition: all 0.6s ease-in-out;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.btn-primary-outline:hover:before {
  width: 0;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section) {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%233d626c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rv2OpzNlIB {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/mbr.jpg");
}
.cid-rv2OpzNlIB H1 {
  color: #ffffff;
}
.cid-rv3i4IjDRy {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rv3i4IjDRy .mbr-section-btn {
  margin-top: 5rem;
}
.cid-rv3i4IjDRy .row {
  justify-content: center;
}
.cid-rv3i4IjDRy .card {
  height: 100%;
  position: relative;
}
.cid-rv3i4IjDRy .card:after {
  content: '';
  position: absolute;
  border-radius: 100%;
  z-index: 0;
  bottom: 5px;
  left: 50%;
  right: 50%;
  opacity: 0;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 40px;
  box-shadow: 0 35px 30px 0 rgba(0, 0, 0, 0.35);
}
.cid-rv3i4IjDRy .card:hover:after {
  opacity: 0.8;
}
.cid-rv3i4IjDRy .card-img {
  height: 400px;
}
.cid-rv3i4IjDRy .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-rv3i4IjDRy .card-wrapper {
  padding: 2rem;
  z-index: 2;
  width: 100%;
  margin: 0;
  height: auto;
}
.cid-rv3i4IjDRy .cardbg1 {
  background: #d7edd8;
}
.cid-rv3i4IjDRy .cardbg2 {
  background: #fff3f3;
}
.cid-rv3i4IjDRy .cardbg3 {
  background: #eaf4f8;
}
.cid-rv3i4IjDRy .cardbg4 {
  background: #fff3f3;
}
@media (min-width: 1400px) {
  .cid-rv3i4IjDRy .card-wrapper {
    padding: 8rem 4rem;
  }
}
@media (max-width: 1600px) {
  .cid-rv3i4IjDRy .display-2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 992px) {
  .cid-rv3i4IjDRy .card {
    margin-bottom: 2rem;
  }
}
.cid-rv3i7wl3Fc {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rv3i7wl3Fc .mbr-section-btn {
  margin-top: 1.8rem;
}
.cid-rv3i7wl3Fc .mbr-text {
  color: #879a9f;
}
@media (min-width: 922px) {
  .cid-rv3i7wl3Fc .card-wrapper {
    padding: 0 1rem;
  }
}
.cid-rv3ln36tPw {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #fff3f3;
}
.cid-rv3hWmEIQU {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #fff3f3;
}
.cid-rv3hWmEIQU .card-box {
  padding: 0rem;
}
.cid-rv3hWmEIQU .mbr-section-btn {
  margin-top: 1.8rem;
}
.cid-rv3hWmEIQU h4 {
  margin-bottom: 0;
  padding-top: 1rem;
}
.cid-rv3hWmEIQU p {
  margin-bottom: 0;
  padding-top: 0.2rem;
}
.cid-rv3hWmEIQU .row {
  justify-content: space-between;
}
.cid-rv3hWmEIQU .card-wrapper {
  height: 100%;
  padding-bottom: 1rem;
}
.cid-rv3hWmEIQU .mbr-text {
  color: #879a9f;
}
.cid-rv3hWmEIQU .card-img {
  height: 400px;
  position: relative;
}
.cid-rv3hWmEIQU .card-img img {
  height: 100%;
  object-fit: cover;
  z-index: 2;
  position: relative;
}
.cid-rv3hWmEIQU .card-img:after {
  content: '';
  position: absolute;
  border-radius: 100%;
  z-index: 1;
  bottom: 5px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 40px;
  box-shadow: 0 35px 30px 0 rgba(0, 0, 0, 0.35);
}
.cid-rv3hYLN2jM {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #fff3f3;
}
.cid-rv3hYLN2jM .card-box {
  padding: 0rem;
}
.cid-rv3hYLN2jM .mbr-section-btn {
  margin-top: 1.8rem;
}
.cid-rv3hYLN2jM h4 {
  margin-bottom: 0;
  padding-top: 1rem;
}
.cid-rv3hYLN2jM p {
  margin-bottom: 0;
  padding-top: 0.2rem;
}
.cid-rv3hYLN2jM .row {
  justify-content: space-between;
}
.cid-rv3hYLN2jM .card-wrapper {
  height: 100%;
  padding-bottom: 1rem;
}
.cid-rv3hYLN2jM .mbr-text {
  color: #879a9f;
}
.cid-rv3hYLN2jM .card-img {
  height: 400px;
  position: relative;
}
.cid-rv3hYLN2jM .card-img img {
  height: 100%;
  object-fit: cover;
  z-index: 2;
  position: relative;
}
.cid-rv3hYLN2jM .card-img:after {
  content: '';
  position: absolute;
  border-radius: 100%;
  z-index: 1;
  bottom: 5px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 40px;
  box-shadow: 0 35px 30px 0 rgba(0, 0, 0, 0.35);
}
.cid-rv3jpDqpYH {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #fff3f3;
}
.cid-rv3jpDqpYH .mbr-text {
  color: #767676;
}
.cid-rv3i19ijOD {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/mbr-3.jpg");
}
.cid-rv3i19ijOD .card-box {
  padding: 0rem;
}
.cid-rv3i19ijOD .mbr-section-btn {
  margin-top: 1.8rem;
}
.cid-rv3i19ijOD .big {
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-rv3i19ijOD .big h4 {
  margin: 0;
}
.cid-rv3i19ijOD .card {
  padding: 0;
  min-height: 300px;
}
.cid-rv3i19ijOD img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-rv3i19ijOD .card-img {
  min-height: 400px;
  height: 100%;
}
.cid-rv3i19ijOD .card-wrapper {
  padding: 4rem 2rem;
  width: 100%;
}
@media (min-width: 1400px) {
  .cid-rv3i19ijOD .card-wrapper {
    padding: 4rem;
  }
}
.cid-rv3i19ijOD .cardbg1 {
  background: #d7edd8;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cid-rv3i19ijOD .cardbg2 {
  background: #f6f6f6;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cid-rv3i19ijOD .main-title {
  color: #fff3f3;
}
.cid-rv3lKkdcfe {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #f6f6f6;
}
.cid-rv3lKkdcfe .card-img span {
  font-size: 90px;
  color: #3d626c;
}
@media (min-width: 992px) {
  .cid-rv3lKkdcfe .col-lg-x {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.cid-rv4kVH59L3 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rv4kVH59L3 .mbr-text {
  color: #879a9f;
}
.cid-rv4kVH59L3 .color {
  background: #fff3f3;
}
.cid-rv4kVH59L3 .counter-container ul {
  margin-bottom: 0;
  padding-left: 1.2rem;
  line-height: 2;
}
.cid-rv4kVH59L3 .counter-container ul li {
  margin-bottom: .2rem;
  list-style: none;
}
.cid-rv4kVH59L3 .counter-container ul li:before {
  position: absolute;
  left: 0px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 14px 16px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #3d626c;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
@media (min-width: 767px) {
  .cid-rv4kVH59L3 .card2 {
    margin-left: 1rem;
  }
  .cid-rv4kVH59L3 .card-wrapper {
    margin-right: 1rem;
  }
  .cid-rv4kVH59L3 li:before {
    left: 1rem!important;
  }
}
.cid-rv3hjXrhu9 {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #ffffff;
}
.cid-rv3hjXrhu9 .mbr-iconfont {
  font-size: 1.2rem!important;
}
.cid-rv3hjXrhu9 p {
  margin-bottom: 0!important;
}
.cid-rv3hjXrhu9 .card {
  margin-bottom: 1rem;
  border-radius: 0px;
}
.cid-rv3hjXrhu9 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rv3hjXrhu9 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rv3hjXrhu9 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rv3hjXrhu9 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-rv3hjXrhu9 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rv3hjXrhu9 .card .panel-body {
  color: #767676;
}
.cid-rv3hjXrhu9 .card-header {
  transition: all 0.3s;
  background-color: #f6f6f6;
}
.cid-rv3hjXrhu9 .card-header:hover {
  background-color: #3d626c;
}
.cid-rv3hjXrhu9 .card-header:hover h4 {
  color: #ffffff !important;
}
.cid-rv3hjXrhu9 H4 {
  color: #3d626c;
}
.cid-rv3lPHjQF3 {
  height: 675px;
  background-image: url("../../../assets/images/mbr.jpg");
}
.cid-rv3k1bVPpK {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rv3k1bVPpK .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rv3k1bVPpK .number-wrap {
  color: #3d626c;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-rv3k1bVPpK .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #3d626c;
}
.cid-rv3k1bVPpK .period {
  display: block;
  padding-top: 2px;
}
.cid-rv3k1bVPpK .dot {
  display: none;
}
.cid-rv3k1bVPpK .countdown-cont {
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rv3k1bVPpK .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-rv3k1bVPpK .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-rv3k1bVPpK .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .cid-rv3k1bVPpK .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-rv3k1bVPpK .number,
  .cid-rv3k1bVPpK .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-rv3k1bVPpK .period {
    font-size: 0.8rem;
  }
}
.cid-rv3hQRNrML {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rv3hQRNrML .mbr-shop {
  display: table;
  width: 100%;
}
.cid-rv3hQRNrML .mbr-shop .row {
  margin: 0;
}
.cid-rv3hQRNrML .mbr-shop .btn-sm {
  margin: 0.2rem 0.2rem;
}
.cid-rv3hQRNrML .mbr-shop .shoppingcart-icons {
  z-index: 105 !important;
}
.cid-rv3hQRNrML .galleryItem .sidebar_wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-rv3hQRNrML .galleryItem .sidebar_wraper .price-block {
  margin-bottom: 0px!important;
}
.cid-rv3hQRNrML .mbr-shop .shop-title {
  margin-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  max-width: 80%;
}
.cid-rv3hQRNrML .mbr-shop .sidebar-title {
  line-height: 25px;
}
.cid-rv3hQRNrML .mbr-shop .shopItemsModal_wraper {
  position: fixed;
  display: none;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 87, 87, 0.4);
  top: 0;
  cursor: pointer;
  z-index: 1040;
}
.cid-rv3hQRNrML .mbr-shop .card-description {
  cursor: text;
  display: none;
}
.cid-rv3hQRNrML .mbr-shop .image-modal {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.cid-rv3hQRNrML .mbr-shop .image-modal img {
  max-width: 100%;
  max-height: 75vh;
}
.cid-rv3hQRNrML .mbr-shop .hide-modal {
  display: none;
}
.cid-rv3hQRNrML .mbr-shop .shopItemsModal {
  cursor: default;
  padding: 50px;
  width: 1000px;
  max-width: 100%;
  background-color: #ffffff;
  z-index: 2000;
  overflow: auto;
  position: fixed;
}
.cid-rv3hQRNrML .mbr-shop .shopItemsModal p {
  margin-bottom: 0;
}
.cid-rv3hQRNrML .mbr-shop .shopItemsModal ul {
  margin-bottom: 0;
}
.cid-rv3hQRNrML .mbr-shop .shopItemsModal .card-description {
  display: block;
  width: 100%;
}
.cid-rv3hQRNrML .mbr-shop .shopItemsModal .close-modal {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: red;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.cid-rv3hQRNrML .mbr-shop .shopItemsModal .close-modal:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: red;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cid-rv3hQRNrML .mbr-shop .test-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cid-rv3hQRNrML .mbr-shop .filter-by-pu,
.cid-rv3hQRNrML .mbr-shop .filter-by-pd,
.cid-rv3hQRNrML .mbr-shop .filter-by-d {
  display: inline-block;
  margin-right: 3px;
}
.cid-rv3hQRNrML .mbr-shop .sort-buttons {
  padding-bottom: 1rem;
  margin-right: 13px;
  text-align: right;
}
.cid-rv3hQRNrML .mbr-shop .galleryItem:before {
  width: 0 !important;
  height: 0 !important;
}
.cid-rv3hQRNrML .mbr-shop .modal-dialog {
  max-width: 700px;
}
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-item {
  left: 0 !important;
  top: 0 !important;
  vertical-align: top;
  position: relative !important;
  -webkit-transform: none !important;
  transform: none !important;
  padding: 10px;
}
.cid-rv3hQRNrML .mbr-shop .galleryItem h4,
.cid-rv3hQRNrML .mbr-shop .carousel-item h4 {
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: -1px;
  word-spacing: 0;
  margin-bottom: 0.3rem;
  padding-top: 15px;
  transition: color 0.5s;
}
.cid-rv3hQRNrML .mbr-shop .galleryItem h5,
.cid-rv3hQRNrML .mbr-shop .carousel-item h5 {
  font-style: italic;
  font-weight: 400;
  line-height: 22.36px;
  text-transform: none;
  letter-spacing: 0px;
  word-spacing: 0;
}
.cid-rv3hQRNrML .mbr-shop .galleryItem p,
.cid-rv3hQRNrML .mbr-shop .carousel-item p {
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-align: center;
  display: inline;
}
.cid-rv3hQRNrML .mbr-shop .item-button {
  text-align: center;
}
.cid-rv3hQRNrML .mbr-shop .modalButton {
  display: inline-block;
  float: right;
  margin-right: 10px;
}
.cid-rv3hQRNrML .mbr-shop .modalButton.btn-success {
  right: 15%;
}
.cid-rv3hQRNrML .mbr-shop .sidebar {
  margin-top: 30px;
  position: relative;
}
.cid-rv3hQRNrML .mbr-shop .sidebar-block {
  position: relative;
}
.cid-rv3hQRNrML .mbr-shop .sidebar-background:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 102%;
  background-color: rgba(0, 0, 0, 0.05);
  top: -20px;
  right: 3px;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  margin-bottom: 20px;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers .onsale {
  top: -15px;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers .price-block {
  padding-top: 5px;
  text-align: left;
  line-height: 1;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers .mbr-gallery-item {
  width: 100%;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers .mbr-gallery-item img {
  width: 80px;
  float: left;
  margin-right: 20px;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers .mbr-gallery-item h4 {
  text-align: left;
  padding-bottom: 5px;
  line-height: 1;
  border-bottom: 1px dotted #d6d6d6;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers .mbr-gallery-item h5 {
  text-align: left;
  display: none;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers .mbr-gallery-item p {
  text-align: left;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers .btn {
  display: none;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers-img {
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers-title {
  display: inline-block;
}
.cid-rv3hQRNrML .mbr-shop .onsale {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  transition: color .3s ease;
  text-align: center;
  z-index: 95;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  background: #3d626c;
  color: #ffffff;
  border-radius: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0px;
}
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-item__hided {
  display: none;
}
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-item__hided h4,
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-item__hided h5,
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-item__hided p {
  display: none;
}
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-item__hided .btn {
  display: none;
}
.cid-rv3hQRNrML .mbr-shop .galleryItem .price-block {
  display: block;
  margin-bottom: 8px;
}
.cid-rv3hQRNrML .mbr-shop .galleryItem .price-block span {
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: none;
  letter-spacing: -1px;
  word-spacing: 0;
}
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-filter {
  padding-left: 0;
  text-align: left;
  padding-top: 0;
}
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-filter ul li {
  position: relative;
  padding: 7px 0 7px 25px;
  border-bottom: 1px dotted #d6d6d6;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 24.99px;
  text-transform: none;
  letter-spacing: 0px;
  word-spacing: 0;
  direction: ltr;
  border: none;
  display: list-item;
  text-align: left;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-filter ul li.active {
  background-color: transparent;
  font-weight: bold;
}
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-filter ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2.5px;
  background: rgba(0, 0, 0, 0.3);
  width: 5px;
  height: 5px;
}
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-filter ul li:hover {
  padding-left: 30px;
  background-color: transparent;
}
.cid-rv3hQRNrML .mbr-shop .range-slider {
  padding-bottom: 25px;
}
.cid-rv3hQRNrML .mbr-shop .filter-cost {
  display: block;
  vertical-align: middle;
  max-width: 250px;
  text-align: left;
  position: relative;
  margin-bottom: 30px;
}
.cid-rv3hQRNrML .mbr-shop .filter-cost p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
  font-weight: bold;
}
.cid-rv3hQRNrML .mbr-shop .price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 30px;
  border: 2px solid #666666;
  border-radius: 2px;
  font-size: 0;
}
.cid-rv3hQRNrML .mbr-shop .price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  line-height: 32px;
  color: #666666;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 0;
}
.cid-rv3hQRNrML .mbr-shop .price-controls label.min-price {
  border-right: 2px solid #666666;
}
.cid-rv3hQRNrML .mbr-shop .price-controls input {
  width: 100%;
  background-color: #ffffff;
  border: none;
  line-height: 31px;
  height: 31px;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cid-rv3hQRNrML .mbr-shop .range-controls {
  position: relative;
}
.cid-rv3hQRNrML .mbr-shop .range-controls .scale {
  width: 100%;
  height: 2px;
  background-color: rgba(190, 190, 190, 0.3);
}
.cid-rv3hQRNrML .mbr-shop .range-controls .bar {
  margin-left: 0;
  width: 100%;
  height: 2px;
  background-color: #666666;
}
.cid-rv3hQRNrML .mbr-shop .toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 8px solid #666666;
  border-radius: 100%;
  box-sizing: content-box;
  background-color: #ababab;
  cursor: pointer;
}
.cid-rv3hQRNrML .mbr-shop .toggle:hover,
.cid-rv3hQRNrML .mbr-shop .toggle:active {
  background-color: #c0a375;
}
.cid-rv3hQRNrML .mbr-shop .min-toggle {
  left: 0;
}
.cid-rv3hQRNrML .mbr-shop .max-toggle {
  right: 0;
}
.cid-rv3hQRNrML .mbr-shop .hided-by-price {
  display: none;
}
.cid-rv3hQRNrML .mbr-shop .text-modal {
  padding-right: 30px;
  padding-left: 30px;
}
.cid-rv3hQRNrML .mbr-shop .text-modal .item-button {
  text-align: left !important;
}
.cid-rv3hQRNrML .mbr-shop .text-modal .price-block {
  line-height: 1;
  border-bottom: 1px dotted #d6d6d6;
}
.cid-rv3hQRNrML .mbr-shop .text-modal .price-block p {
  display: inline;
}
.cid-rv3hQRNrML .mbr-shop .text-modal .price-block span {
  display: inline-block;
  font-weight: 700;
  padding: 10px 0 20px 0;
}
.cid-rv3hQRNrML .mbr-shop .text-modal .card-description {
  padding-top: 20px;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}
.cid-rv3hQRNrML .mbr-shop .modal-control-panel {
  padding-right: 0;
}
.cid-rv3hQRNrML .mbr-shop .modal-cb {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}
.cid-rv3hQRNrML .mbr-shop .shopItemsModalBg {
  width: 100%;
  height: 100%;
}
.cid-rv3hQRNrML .mbr-shop .close-modal-wrapper {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
}
.cid-rv3hQRNrML .mbr-shop .close-modal-wrapper:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #cccccc;
  top: 50%;
  right: 5%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cid-rv3hQRNrML .mbr-shop .close-modal-wrapper:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #cccccc;
  right: 50%;
  top: 5%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cid-rv3hQRNrML .mbr-shop .closeModal {
  position: absolute;
  top: 0;
  right: 0;
}
.cid-rv3hQRNrML .mbr-shop .galleryItem .sidebar_wraper {
  text-align: center;
}
.cid-rv3hQRNrML .mbr-shop .shopItemsModal .sidebar_wraper {
  text-align: left;
}
.cid-rv3hQRNrML .mbr-shop .shopItemsModal .onsale {
  top: 10px;
  right: 10px;
  border: 1px solid #e7e7e7;
}
.cid-rv3hQRNrML .mbr-shop .shop-items .onsale,
.cid-rv3hQRNrML .mbr-shop .bestseller-block .onsale {
  font-size: 15px !important;
}
.cid-rv3hQRNrML .mbr-shop .item_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: transparent;
}
.cid-rv3hQRNrML .mbr-shop .style_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.cid-rv3hQRNrML .mbr-shop .price-range {
  display: inline-block;
}
.cid-rv3hQRNrML .mbr-shop .price-range-reset {
  display: inline-block;
}
.cid-rv3hQRNrML .mbr-shop .bestsellers .item-button {
  display: none !important;
}
.cid-rv3hQRNrML .mbr-shop .range-slider h4 {
  margin-bottom: 15px;
}
.cid-rv3hQRNrML .mbr-shop .mbr-gallery-filter ul {
  padding-left: 0px;
  display: inline-block;
  list-style: none;
  margin-bottom: 0px;
}
.cid-rv3hQRNrML .mbr-shop .categories:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 767px) and (max-width: 1100px) {
  .cid-rv3hQRNrML .mbr-shop .col-md-9 {
    width: 100%;
  }
  .cid-rv3hQRNrML .mbr-shop .col-md-3 {
    width: 100%;
  }
  .cid-rv3hQRNrML .mbr-shop .sidebar-background:after {
    top: 0;
  }
  .cid-rv3hQRNrML .mbr-shop .bestseller-block {
    width: 100%;
    margin: 0;
    display: inline-block;
    float: left;
    padding-top: 15px;
  }
  .cid-rv3hQRNrML .mbr-shop .range-slider {
    width: 49%;
    margin: 0;
    display: inline-block;
    float: right;
    padding-top: 15px;
  }
  .cid-rv3hQRNrML .mbr-shop .bestsellers {
    width: 100%;
  }
  .cid-rv3hQRNrML .mbr-shop .bestsellers .mbr-gallery-item {
    width: 49%;
    display: inline-block;
  }
  .cid-rv3hQRNrML .mbr-shop .sidebar-categories {
    width: 49%;
    margin: 0;
    display: inline-block;
    padding-top: 15px;
  }
  .cid-rv3hQRNrML .mbr-shop .price-range {
    max-width: 250px;
    text-align: center;
  }
  .cid-rv3hQRNrML .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-rv3hQRNrML .mbr-shop .mbr-gallery-item {
    width: 33%;
  }
}
@media (max-width: 500px) {
  .cid-rv3hQRNrML .mbr-shop .shopItemsModal {
    padding: 50px 10px 10px 10px;
  }
  .cid-rv3hQRNrML .mbr-shop .shop-title {
    max-width: 100%;
  }
  .cid-rv3hQRNrML .mbr-shop .mbr-gallery-item {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .cid-rv3hQRNrML .mbr-shop .sort-buttons {
    text-align: center;
    margin-right: 0 !important;
  }
}
@media (max-width: 767px) {
  .cid-rv3hQRNrML .mbr-shop .image-modal {
    text-align: center;
  }
  .cid-rv3hQRNrML .mbr-shop .image-modal img {
    max-height: 50vh;
    width: auto;
    max-width: 100%;
  }
  .cid-rv3hQRNrML .mbr-shop .shopItemsModal {
    top: 15%;
    bottom: 70px;
    left: 10%;
    width: 80%;
  }
  .cid-rv3hQRNrML .mbr-shop .shopItemsModal .image-modal {
    padding-right: 0;
  }
  .cid-rv3hQRNrML .mbr-shop .sidebar-background:after {
    top: -1%;
  }
}
@media (max-width: 1100px) {
  .cid-rv3hQRNrML .mbr-shop .shopItemsModal {
    max-height: 85vh;
    width: 90%;
    left: 5%;
    margin-left: 0;
  }
  .cid-rv3hQRNrML .mbr-shop .sort-buttons {
    margin-right: 21px;
  }
  .cid-rv3hQRNrML .mbr-shop .sidebar-background:after {
    right: 0;
    width: 100%;
  }
  .cid-rv3hQRNrML .mbr-shop .text-modal .card-description {
    width: 100%;
  }
  .cid-rv3hQRNrML .mbr-shop .text-modal .price-block {
    width: 100%;
  }
  .cid-rv3hQRNrML .mbr-shop .text-modal h4 {
    padding-top: 30px;
  }
}
.cid-rv3hQRNrML .shopItemsModal_wraper .mbr-section-btn {
  display: block !important;
}
.cid-rv3hQRNrML .range-slider .mbr-section-btn {
  margin: 0;
}
.cid-rv3hQRNrML .oldprice {
  color: #767676;
  padding-left: .8rem;
  text-decoration: line-through;
}
.cid-rv3hQRNrML .mbr-gallery-item .sidebar_wraper .mbr-section-btn {
  text-align: left;
}
.cid-rv3hQRNrML .mbr-gallery-item .sidebar_wraper .item-title {
  text-align: left;
  padding-bottom: .5rem;
}
.cid-rv3hQRNrML .mbr-gallery-item .sidebar_wraper .item-subtitle {
  text-align: left;
}
.cid-rv3hQRNrML .mbr-gallery-item .sidebar_wraper .price-block {
  text-align: left;
}
.cid-rv3hQRNrML .range-controls {
  display: block !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rv3hQRNrML .shopItemsModal.row {
    position: absolute !important;
    top: calc(50% - 300px) !important;
    left: calc(50% - 500px) !important;
  }
}
.cid-rv3jAWU0v1 {
  padding-top: 75px;
  padding-bottom: 75px;
  background: #fff3f3;
}
.cid-rv3jAWU0v1 img {
  width: 120px;
  margin: auto;
}
.cid-rv3jAWU0v1 .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 1;
  margin-bottom: 1rem;
}
.cid-rv3jAWU0v1 .card:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (min-width: 992px) {
  .cid-rv3jAWU0v1 .col-lg-x {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.cid-rv3jBNrexs {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.cid-rv3jBNrexs .carousel {
  z-index: 2;
  position: relative;
}
.cid-rv3jBNrexs .big-icon {
  position: absolute;
  top: 1rem;
  left: 50%;
  right: 50;
  font-size: 12rem;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: #cebfaf;
  opacity: 0.5;
}
.cid-rv3jBNrexs .user {
  padding: 0!important;
}
.cid-rv3jBNrexs .mbr-iconfont {
  font-family: Moririse2!important;
}
.cid-rv3jBNrexs .carousel-item {
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rv3jBNrexs .carousel-item.active,
.cid-rv3jBNrexs .carousel-item-next,
.cid-rv3jBNrexs .carousel-item-prev {
  display: flex;
}
.cid-rv3jBNrexs .user_name {
  margin: 0;
}
.cid-rv3jBNrexs .carousel-controls a {
  font-size: 2rem;
}
.cid-rv3jBNrexs .carousel-controls a span {
  position: absolute;
  transition: opacity 0.3s;
  top: 70px;
  padding: 10px;
  border-radius: 50%;
  color: #3d626c;
  background: transparent;
  opacity: 0.5;
}
.cid-rv3jBNrexs .carousel-controls a:hover span {
  opacity: 1;
  cursor: pointer;
}
.cid-rv3jBNrexs ol {
  margin-bottom: 0;
  bottom: -3rem;
}
.cid-rv3jBNrexs .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: auto 7px;
  border: none;
  background: #3d626c;
  transition: all 0.3s;
  border-radius: 50%;
  opacity: 0.5;
}
.cid-rv3jBNrexs .carousel-indicators li:hover {
  opacity: 1;
}
.cid-rv3jBNrexs .carousel-indicators .active {
  opacity: 1;
  width: 10px;
  height: 10px;
}
.cid-rv3jBNrexs .user_text {
  color: #3d626c;
}
.cid-rv3jBNrexs .user_desk {
  color: #767676;
}
.cid-rv3jKkKdzu {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #f6f6f6;
}
.cid-rv3jKkKdzu .mbr-text {
  color: #9c969b;
}
@media (min-width: 992px) {
  .cid-rv3jKkKdzu img {
    width: 90%;
  }
}
.cid-rv3jKkKdzu .social-list {
  display: flex;
  flex-wrap: wrap;
}
.cid-rv3jKkKdzu .soc-item {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0.3rem;
}
.cid-rv3jKkKdzu .soc-item span {
  font-size: 1rem;
  color: #3d626c !important;
  transition: all 0.3s;
}
.cid-rv3jKkKdzu .soc-item:hover span {
  color: #3d626c !important;
}
.cid-rv3jKkKdzu .items-col {
  line-height: 2.5;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-rv3jKkKdzu .social-list {
    justify-content: center;
  }
}
.cid-rv3hLt9UH9 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #f6f6f6;
}
.cid-rv3hLt9UH9 .google-map {
  height: 25rem;
  position: relative;
}
.cid-rv3hLt9UH9 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rv3hLt9UH9 .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rv3hLt9UH9 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rv3hLt9UH9 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 576px) {
  .cid-rv3hLt9UH9 .map1 {
    padding-bottom: 2rem;
  }
}
.cid-rv3hNOvGkN {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rv3hNOvGkN [class^="socicon-"]:before,
.cid-rv3hNOvGkN [class*=" socicon-"]:before {
  line-height: 44px;
}
.cid-rv3hNOvGkN .social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-rv3hNOvGkN .row {
  justify-content: center;
}
.cid-rv3hNOvGkN .soc-item {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.6rem;
  margin-bottom: 1rem;
}
.cid-rv3hNOvGkN .soc-item span {
  font-size: 1rem;
  color: #3d626c !important;
  transition: all 0.3s;
}
.cid-rv3hNOvGkN .soc-item:hover span {
  color: #3d626c !important;
}
.cid-rv3hKT0jn8 {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #3d626c;
}
.cid-rv3hKT0jn8 .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rv3hKT0jn8 .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rv3hKT0jn8 .container-fluid {
  border-top: 1px solid #f6f6f6;
  padding-top: 2rem;
}
.cid-rv3hKT0jn8 .foot-menu-item {
  border-bottom: 1px solid transparent;
  padding: 0!important;
  transition: all 0.3s;
  margin: 0.5rem 1rem;
}
.cid-rv3hKT0jn8 .foot-menu-item:hover {
  border-bottom: 1px solid currentColor;
  filter: none!important;
}
.cid-rv3hKT0jn8 .text-white:hover {
  color: white!important;
}
.cid-rv3hKT0jn8 .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rv3hKT0jn8 .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-rv3hKT0jn8 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rv3hKT0jn8 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rv3hKT0jn8 .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rv3hKT0jn8 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rv3hKT0jn8 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rv3hKT0jn8 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rv3hKT0jn8 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rv3hKT0jn8 .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rv3hKT0jn8 .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rv3hKT0jn8 .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rwtBZ2A7qZ .navbar {
  padding: .5rem 0;
  background: #3d626c;
  transition: none;
  min-height: 77px;
}
.cid-rwtBZ2A7qZ .navbar-dropdown.bg-color.transparent.opened {
  background: #3d626c;
}
.cid-rwtBZ2A7qZ a {
  font-style: normal;
}
.cid-rwtBZ2A7qZ .nav-link {
  font-family: EB Garamond !important;
}
.cid-rwtBZ2A7qZ .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rwtBZ2A7qZ .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin: 0.5rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rwtBZ2A7qZ .nav-item:focus,
.cid-rwtBZ2A7qZ .nav-link:focus {
  outline: none;
}
.cid-rwtBZ2A7qZ .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rwtBZ2A7qZ .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rwtBZ2A7qZ .menu-logo {
  margin-right: auto;
}
.cid-rwtBZ2A7qZ .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rwtBZ2A7qZ .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rwtBZ2A7qZ .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rwtBZ2A7qZ .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rwtBZ2A7qZ .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rwtBZ2A7qZ .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rwtBZ2A7qZ .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rwtBZ2A7qZ .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rwtBZ2A7qZ .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rwtBZ2A7qZ .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rwtBZ2A7qZ .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rwtBZ2A7qZ .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}
.cid-rwtBZ2A7qZ .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  font-family: EB Garamond !important;
  color: #3d626c !important;
  padding: 0 .6rem!important;
  border-radius: 0;
  background: #ffffff;
}
.cid-rwtBZ2A7qZ .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rwtBZ2A7qZ .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rwtBZ2A7qZ .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rwtBZ2A7qZ .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rwtBZ2A7qZ .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rwtBZ2A7qZ .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rwtBZ2A7qZ .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rwtBZ2A7qZ .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rwtBZ2A7qZ .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rwtBZ2A7qZ .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rwtBZ2A7qZ button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rwtBZ2A7qZ button.navbar-toggler:focus {
  outline: none;
}
.cid-rwtBZ2A7qZ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rwtBZ2A7qZ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rwtBZ2A7qZ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rwtBZ2A7qZ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rwtBZ2A7qZ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rwtBZ2A7qZ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rwtBZ2A7qZ nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rwtBZ2A7qZ nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rwtBZ2A7qZ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rwtBZ2A7qZ .dropdown-toggle:after {
  display: none;
}
.cid-rwtBZ2A7qZ .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rwtBZ2A7qZ .collapsed .btn {
  display: -webkit-flex;
}
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.collapsing,
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rwtBZ2A7qZ .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-rwtBZ2A7qZ .collapsed button.navbar-toggler {
  display: block;
}
.cid-rwtBZ2A7qZ .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rwtBZ2A7qZ .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rwtBZ2A7qZ .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rwtBZ2A7qZ .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rwtBZ2A7qZ .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rwtBZ2A7qZ .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rwtBZ2A7qZ .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rwtBZ2A7qZ img {
    height: 3.8rem !important;
  }
  .cid-rwtBZ2A7qZ .btn {
    display: -webkit-flex;
  }
  .cid-rwtBZ2A7qZ button.navbar-toggler {
    display: block;
  }
  .cid-rwtBZ2A7qZ .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rwtBZ2A7qZ .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rwtBZ2A7qZ .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rwtBZ2A7qZ .navbar-collapse.collapsing,
  .cid-rwtBZ2A7qZ .navbar-collapse.show {
    display: block !important;
  }
  .cid-rwtBZ2A7qZ .navbar-collapse.collapsing .navbar-nav,
  .cid-rwtBZ2A7qZ .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rwtBZ2A7qZ .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rwtBZ2A7qZ .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rwtBZ2A7qZ .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rwtBZ2A7qZ .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rwtBZ2A7qZ .navbar-collapse.collapsing .navbar-buttons,
  .cid-rwtBZ2A7qZ .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rwtBZ2A7qZ .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rwtBZ2A7qZ .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rwtBZ2A7qZ .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rwtBZ2A7qZ .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rwtBZ2A7qZ .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rwtBZ2A7qZ .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rwtBZ2A7qZ .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rwtBZ2A7qZ .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rwtBZ2A7qZ .nav-link,
.cid-rwtBZ2A7qZ .dropdown-item {
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
.cid-rwtBZ2A7qZ .nav-link:hover,
.cid-rwtBZ2A7qZ .dropdown-item:hover {
  color: #ffffff !important;
  border-bottom: 1px solid currentColor;
}
